<h2>Yet Another Movie Collection</h2>
<div class="cards">
  <% @movies.each do |movie| %>
    <div class="card-movie">
      <%= image_tag movie.image_url %>
      <div class="card-movie-infos">
        <div>
          <h2><%= link_to movie.title, movie_path(movie) %></h2>
          <p class="card-movie-year"><%= movie.year %></p>
          <p class="card-movie-duration"><%= movie.duration %> min</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
