<div class="banner" style="background-image: linear-gradient(to right,#000 0,rgba(0,0,0,0) 100%),linear-gradient(to top,#000 0,rgba(0,0,0,0) 80%), url(https://cdn-images.rtp.pt/EPG/imagens/41116_63032_54903.jpg);">
  <div class="container">
    <h1>Find Movies from Northeast Brazil</h1>
    <p>Type a city in the region...</p>
    <%= link_to "See all Movies", "/movies", class: "btn btn-primary" %>
  </div>
</div>
